/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;800&family=Source+Sans+Pro&display=swap");

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #0d0d0d;
  --secundario: #1b261a;
  --secundario2: #a5aca5;
  --secundario3: #c9cdc9;
  --terciario: #e77971;
  --terciario2: #e5968b;
  --terciario3: #f2cbc5;
  --terciario4: #efdbda;
  --cuaternario: #d5c3aa;
  --cuaternario3: #fff6dc;
  --blanco: #ffffff;
  /* Tipografía */
  --font-family-headings: "Darker Grotesque", sans-serif;
  --font-family-body: "Source Sans Pro", sans-serif;
  --h1: 45px;
  --h2: 36px;
  --h3: 30px;
  --h4: 27px;
  --h5: 24px;
  /* Estilos: elevacion, transiciones & utils */
  --transition: all 0.4s ease-in-out;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: 400;
  -webkit-text-stroke: 0.5px black;
}
h1 {
  font-size: var(--h1);
  font-weight: 600;
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

a {
  transition: var(--transition);
}

/****************************************
*    Componentes
*****************************************/
.nav {
  background: var(--blanco);
  height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  text-align: left;
  height: 100%;
}

.menu li {
  display: flex;
  align-items: center;
  background: var(--blanco);
  height: 100%;
  border: 1px solid black;
  transition: var(--transition);
}

.menu li:hover {
  background-color: var(--terciario);
}

.menu a {
  --h1: 75px;
  font-size: var(--h1);
  font-family: var(--font-family-headings);
  text-decoration: none;
  text-transform: uppercase;
  color: transparent;
  font-size: 150px;
  letter-spacing: 0.0001em;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
  transition: var(--transition);
  padding-left: 5vh;
}

.menu a:hover {
  opacity: 1;
  color: var(--primario);
}

.menu span {
  color: black;
}

/*
*  Orden ideal de acomodo de propiedades de CSS
*
* 1. Propiedades de layout (position, display)
* 2. Propiedades de Box Model (width, height, margin, padding)
* 3. Propiedades visuales (color, background, border, box-shadow)
* 4. Propiedades de tipografía (font-family, font-size, text-align)
* 5. Propiedades diversas (cursor, overflow, z-index)
*/
/* acerca de */
.heading {
  --h1: 75px;
  font-size: var(--h1);
  font-family: var(--font-family-headings);
  text-decoration: none;
  text-transform: uppercase;
  color: transparent;
  font-size: 150px;
  letter-spacing: 0.0001em;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
  transition: var(--transition);
  padding-left: 5vh;
}
.heading span {
  color: var(--primario);
}
.acerca-de {
  background-color: var(--cuaternario);
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr min-content;
  grid-template-columns: 5vw 1fr 1.5fr 5vw;
}
.acerca-de__heading {
  background-color: white;
  grid-row: 1/2;
  grid-column: 1/5;
  padding-left: 4rem;
  border-bottom: 1px solid black;
}
.acerca-de__imagen {
  max-height: 75vh;
  grid-row: 2/3;
  grid-column: 2/3;
  justify-self: center;
  align-self: center;
}
.acerca-de__texto {
  grid-row: 2/3;
  grid-column: 3/4;
  padding: 4rem;
  font-size: 32px;
  line-height: 51px;
}
.acerca-de__social {
  grid-row: 3/4;
  grid-column: 3/4;
  display: flex;
  margin-left: 4rem;
}
/* revisar 
.acerca-de {
  background: none;
  height: 100vh;
  display: grid;
  grid-template: 18vh 1fr 9vh / 1fr 1.5fr;
  }
  
  .acerca-de__heading {
  background: rgba(173,16,140,0.45);
  }
  
  .acerca-de__imagen {
  background: rgba(165,166,101,0.45);
  align-self: center;
  justify-self: center;
  }
  
  .acerca-de__texto {
  background: rgba(21,59,213,0.45);
  }
  
  .acerca-de__social {
  background: rgba(32,122,50,0.45);
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: center;
  justify-self: start;
  }
  */

/* proyectos */
.proyectos {
  background: white;
}
.menu-proyectos {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  text-align: left;
  height: 100%;
}
.menu-proyectos a {
  --h1: 75px;
  font-size: var(--h1);
  font-family: var(--font-family-headings);
  text-decoration: none;
  text-transform: lowercase;
  color: transparent;
  font-size: 150px;
  letter-spacing: 0.0001em;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
  transition: var(--transition);
  padding-left: 5vh;
}
.proyectos li {
  display: flex;
  align-items: center;
  background: var(--blanco);
  height: 100%;
  border: 1px solid black;
  transition: var(--transition);
}
.menu-proyectos a:hover {
  opacity: 1;
  color: var(--primario);
}
.proyectos li:hover {
  background-color: var(--secundario3);
  text-transform: lowercase;
}

/****************************************
*    Helpers
*****************************************/

[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}
