/* Tipografía */
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600;800&family=Source+Sans+Pro&display=swap");

/****************************************
*    Variables
*****************************************/
:root {
  /* Colores */
  --primario: #0d0d0d;
  --secundario: #1b261a;
  --secundario2: #a5aca5;
  --secundario3: #c9cdc9;
  --terciario: #e77971;
  --terciario2: #e5968b;
  --terciario3: #f2cbc5;
  --terciario4: #efdbda;
  --cuaternario: #d5c3aa;
  --cuaternario3: #fff6dc;
  --blanco: #ffffff;
  /* Tipografía */
  --font-family-headings: "Darker Grotesque", sans-serif;
  --font-family-body: "Source Sans Pro", sans-serif;
}

/****************************************
*    Base
*****************************************/
html {
  height: 100%;
}

body {
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headings);
  font-weight: 400;
  -webkit-text-stroke: 0.5px black;
}
h1 {
  font-size: 45px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-weight: 800;
}
h6 span {
  color: black;
}

/****************************************
*    Temp
*****************************************/
/* TODO: Ejercicio aplicar estilos de figma a cajas */
.caja {
  display: flex;
}
.caja > * {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}
.caja h2 {
  font-size: 90px;
}
/****************************************
*    Componentes
*****************************************/
.contenedor {
  background: var(--secundario2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  -webkit-text-stroke: 0.5px black;
}
.contenedor h6 {
  background: var(--terciario);
  height: 25vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
}
.contenedor nav ul {
  background: var(--blanco);
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  -webkit-text-stroke: 0.5px black;
}
a:hover {
  background-color: var(--terciario);
  display: block;
  block-size: 25vh;
  display: flex;
  align-items: center;
}
.contenedor nav ul span {
  color: black;
}
.contenedor a {
  font-family: var(--font-family-headings);
  text-decoration: none;
  text-transform: uppercase;
  color: transparent;
  font-size: 75px;
  letter-spacing: 0.0001em;
  font-weight: 800;
  -webkit-text-stroke: 1px black;
}
/****************************************
*    Helpers
*****************************************/

[dots] {
  outline: rgba(255, 0, 0, 0.75) dotted 2px;
}
